---
{{- $this := .Values.marketplace.marketplace }}
{{- $global := .Values.global }}
# Checklist:
# - [ ] Minimal Resources
# - [ ] Minimal storage
# - [ ] 1 Replica

# TODO: set helm values for marketplace here
